/* Brnews Composer Pro - Responsive Styles */
@media (max-width: 768px) {
    .brcp-col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .brcp-big-grid--style-1 {
        grid-template-columns: 1fr;
    }
}
